.projects_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 0 auto;
}
.heading_pro {
  color: var(--color-primary);
  font-weight: 600;
}
.projects_item {
  background: var(--bg-color-varient);
  padding: 20px;
  border-radius: 30px;
  border: 1px solid transparent;
  transition: var(--transition);
}
.projects_item:hover {
  border-color: var(--color-primary-varient);
  background: transparent;
}
.projects_item-img {
  border-radius: 25px;
  overflow: hidden;
}
.projects_item h3 {
  margin: 20px 0 30px;
}
.projects_item-cta {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
/* ====media queries medium screen==== */
@media screen and (max-width: 1024px) {
  .projects_container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

/* ====media screen small devices====*/
@media screen and (max-width: 600px) {
  .projects_container {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
