.bg-img {
  background: url("../../Asserts/background.jpg");
  background-attachment: fixed;
  padding: 100px 0;
  text-align: center;
  height: 100%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
}
.bg-img > h2 {
  color: var(--color-primary);
  font-weight: 600;
}

.skills_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: center;
  height: 100%;

  margin: 0 auto;
}
.skills_container > div {
  background: var(--bg-color-varient);
  padding: 40px 80px;
  border-radius: 32px;
  border: 1px solid transparent;
  transition: var(--transition);
}
.skills_container > div:hover {
  background: transparent;
  border-color: var(--color-primary-varient);
  cursor: default;
}
.skills_container > div h3 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--color-primary);
}
.skills_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
}
.skills_details {
  display: flex;
  gap: 16px;
}
.skills_details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}
.skills_civil {
  position: relative;
  left: 50%;
}

/* ====media queries medium screen==== */
@media screen and (max-width: 1024px) {
  .skills_container {
    grid-template-columns: 2fr;
  }
  .skills_civil {
    position: relative;
    left: 0;
  }
  .skills_container > div {
    width: 80%;
    padding: 30px;
    margin: 0 auto;
  }
  .skills_content {
    padding: 15px;
  }
}

/* ====media screen small devices====*/
@media screen and (max-width: 600px) {
  .skills_container {
    gap: 15px;
  }
  .skills_container > div {
    width: 100%;
    padding: 30px 15px;
  }
}
