.about_container {
  display: grid;
  grid-template-columns: 30% 50%;
  gap: 15%;
}
.heading {
  color: var(--color-primary);
  font-weight: 600;
}
.about_me {
  width: 100%;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  margin-left: 50px;
  place-items: center;
}
.aboutme_img {
  border-radius: 30px;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}
.aboutme_img:hover {
  transform: rotate(0);
}
.about_content p {
  margin: 40px 0 100px;
  color: var(--color-light);
}

/* ====media queries medium screen==== */
@media screen and (max-width: 1024px) {
  .about_container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about_me {
    width: 50%;
    margin: 30px auto 60px;
  }
  .about_content p {
    margin: 15px 0 25px;
  }
}

/* ====media screen small devices====*/
@media screen and (max-width: 600px) {
  .about_me {
    width: 65%;
    margin: 0 auto 50px;
  }
  .about_content {
    text-align: center;
  }
  .about_content p {
    margin: 25px 0;
  }
}
