footer {
  background: var(--color-primary);
  padding: 50px;
  text-align: center;
  font-size: 15px;
  margin-top: 120px;
}
.footer_social {
  display: flex;
  justify-content: center;
  gap: 15px;

  margin-bottom: 60px;
}
.footer_social a {
  background: var(--bg-color);
  color: var(--color-white);
  padding: 20px;
  font-size: 25px;
  border-radius: 10px;
  display: flex;
  border: 3px solid transparent;
}
.footer_social a:hover {
  background: transparent;
  color: var(--bg-color);
  border-color: var(--bg-color);
}
.made_react {
  margin-bottom: 65px;
  color: var(--bg-color);
  font-weight: bold;
  letter-spacing: 1px;
}

/* ====media screen small devices====*/
@media screen and (max-width: 600px) {
  .footer_social {
    margin-bottom: 45px;
  }
}
