.experience {
    background: linear-gradient(180deg, #0c0c1d, #1a1a3d);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
    .titleContainer {
      margin-top: 50px;
      margin-bottom: 30px;
  
      .title {
        position: relative;
        display: inline-block;
  
        h1 {
          font-size: 48px;
          color: #ffffff;
          
          text-align: center;
          margin: 0;
        }
  
        .underline {
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
          height: 4px;
          background-color: #ffd700;
          transform-origin: left;
          transform: scaleX(0); 
        }
      }
    }
  
    .listContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 100px;
      margin-top: 100px;
  
      .box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        background: #26264a;
        padding: 40px;
        width: 400px;
        height: 300px;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        color: #ffffff;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
  
        h2 {
          font-size: 28px;
          margin-bottom: 15px;
          color: #e0e0e0;
        }
  
        p {
          margin: 8px 0;
          font-size: 18px;
          color: #cccccc;
        }
  
        .iconWrapper {
          position: absolute;
          top: 20px;
          right: 20px;
  
          .experience_icon {
            font-size: 40px;
            color: #ffffff;
            transition: color 0.3s ease;
  
            &:hover {
              color: #ffd700; 
            }
          }
        }
  
      
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
      }
    }
  

    @media screen and (max-width: 1024px) { 
      .titleContainer {
        .title h1 {
          font-size: 36px; 
        }
      }
  
      .listContainer {
        gap: 50px; 
        margin-top: 50px;
  
        .box {
          width: 350px; 
          height: 250px; 
  
          h2 {
            font-size: 24px; 
          }
  
          p {
            font-size: 16px; 
          }
        }
      }
    }
  
    @media screen and (max-width: 768px) { 
      .titleContainer {
        .title h1 {
          font-size: 28px; 
        }
      }
  
      .listContainer {
        gap: 30px; 
        margin-top: 30px;
  
        .box {
          width: 300px; 
          height: auto; 
          padding: 30px; 
  
          h2 {
            font-size: 20px;
          }
  
          p {
            font-size: 14px; 
          }
  
          .iconWrapper {
            .experience_icon {
              font-size: 30px; 
            }
          }
        }
      }
    }
  
    @media screen and (max-width: 480px) { 
      .titleContainer {
        margin-top: 30px;
        .title h1 {
          font-size: 24px; 
        }
      }
  
      .listContainer {
        gap: 20px; 
        margin-top: 20px;
  
        .box {
          width: 100%; 
          height: auto;
          padding: 20px;
  
          h2 {
            font-size: 18px;
          }
  
          p {
            font-size: 12px; 
          }
  
          .iconWrapper {
            .experience_icon {
              font-size: 24px; 
            }
          }
        }
      }
    }
  }
  