@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amaranth&family=Arimo:wght@400;500&family=Bebas+Neue&family=DM+Sans:wght@400;500;700&family=Fredoka&family=Inconsolata:wght@800&family=Joan&family=Kanit:wght@100;300;400;500&family=McLaren&family=Montserrat:wght@400;600&family=Nunito:wght@200;300;400;500&family=Patrick+Hand&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Rubik:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color: #2c3639;
  --bg-color-varient: #3f4e4f;
  --color-primary: #18978f;
  --color-primary-varient: rgba(78, 185, 260, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
}
html {
  scroll-behavior: smooth;
}
/* ::-webkit-scrollbar {
  display: none;
} */
body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
  color: var(--color-white);
  line-height: 1.7;
}

/* General Css */
.container {
  width: var(--container-width-lg);
  margin: 0, auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}
section {
  margin-top: 130px;
}
section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}
section > h2 {
  margin-bottom: 50px;
}
.text-light {
  color: var(--color-light);
}
a {
  color: var(--color-primary);
  transition: var(--transition);
}
a:hover {
  color: var(--color-white);
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 12px 18px;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}
.btn:hover {
  background: var(--color-white);
  color: var(--bg-color);
  border-color: transparent;
}
.btn-primary {
  background: var(--color-primary);
  color: var(--bg-color);
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
}
/* ====media queries medium screen==== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 100px;
  }
}

/* ====media screen small devices====*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-bottom: 35px;
  }
}
