nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 12px 30px;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
  display: flex;
  gap: 12px;
  border-radius: 50px;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 15px;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 18px;
}
nav a:hover {
  background: rgba(0, 0, 0, 0.5);
}
